Modulo_1/Exercicios/live_reload/node_modules/
Modulo_2/Desafio/node_modules/
Modulo_4/Trabalho_Pratico/node_modules/
Modulo_Desafio/transaction-control/node_modules/
Modulo_4/data/
Modulo_Desafio/desafio-final-apoio/app-vazio/
Modulo_Desafio/desafio-final-apoio/
*.pdf
Modulo_Desafio/transaction-control/env.json
